# Database Configuration
POSTGRES_VERSION=18-alpine
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecm_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_POOL_MAX_SIZE=10
DB_POOL_MIN_IDLE=5

# Redis Configuration
REDIS_VERSION=7-alpine
REDIS_HOST=localhost
REDIS_PORT=6379

# Server Configuration
PORT=8080
SHOW_SQL=false
